<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{page.title}} :Leszek</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="/style/leszek.css">
	<meta name="author" value="Leszek Rybicki, http://leszek.rybicki.cc">
</head>
<body>
  <div class="navbar">
    <div class="container">
				<div class="nav navbar-brand my-name">
					<h1><ruby>Leszek<rt>レシェック</rt></ruby>&nbsp;<ruby>Rybicki<rt>リビツキ</rt></ruby></h1>
				</div>
				<ul class="nav navbar-nav navbar-right pull-right">
					<li><a title="Who am I?" href="/">About me</a></li>
					<li><a title="I write this" href="{{ site.posts.first.url }}">Blog</a></li>
				</ul>
    </div>
  </div>
	<div class="container">
		<div class="row">
				{{ content }}
		</div>
		<hr>
		<div class="footer">
			<div class="col-md-4">
					github: <a target="_blank" href="https://github.com/leszekr">leszekr</a><br>
			</div>
			<div class="col-md-4 text-center" id="copyright">
					Copyright &copy; 2012 by <a href="mailto:leszek@rybicki.cc">Leszek Rybicki</a>.
			</div>
			<div class="col-md-4 text-right">
					<a href="/bitcoin/"><img src="/img/BC_RnBG_64px.png"></a>
			</div>
		</div>
	</div> <!-- /container -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2132560-3']);
  _gaq.push(['_setDomainName', 'rybicki.cc']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
   </body>
</html>
