<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{page.title}} | Leszek Rybicki</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
	<link rel="stylesheet" href="/style/leszek.css">
	<link href="atom.xml" type="application/atom+xml" rel="alternate" title="Blog feed" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Leszek Rybicki, http://lunardog.github.io">
</head>
<body>
  {{ content }}
</body>
</html>
